
<section class="pizza-feed">
  <%= image_tag @post.image, class: "pizza-pic" %>
  <p><%= @post.story %></p>
  <%= button_to "Eat me", edit_post_path(@post), method: :get %>
  &nbsp;&nbsp;&nbsp;
  <%= button_to "Toss me", post_path(@post), method: :delete %>
</section>
