
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require rails_bootstrap_forms
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
  font-family: 'piecesnfi';
  src: font-url('piecesnfi.ttf');
  src: font-url('piecesnfi.ttf') format('truetype');
}

*,
html,
body {
  cursor: url(ranch-2.png), default !important;
}

body {
  background-image: url(sadpizza.png);
  padding-top: 70px;
}

h1 {
  font-family: 'piecesnfi', Fallback, monospace;
  font-spacing: .3rem;
  font-size: 7rem;
  text-align: center;
  color: black;
}

.navbar {
  min-height: 2em;
}

.pizza-pic {
  max-width: 300px;
  max-height: 250px;
}

.pizza-feed {
  background-color: rgba(100, 100, 100, 0.4);
  border-radius: 2em;
  text-align: center;
  max-width: 500px;
  margin: 0 auto 40px;
  color: white;
  font-size: 2em;
  padding-bottom: 20px;
}

.pizza-feed a:link,
.pizza-feed a:visited,
.pizza-feed a:hover,
.pizza-feed a:active {
  color: white;
}

.pizza-feed input[type=submit] {
  color: black;
}


